/* General Styling */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaeef3;
    color: #333;
    line-height: 1.6;
}

/* Tabs Styling */
.tabs {
    display: flex;
    justify-content: center;
    background-color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.tab {
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(to bottom, #555, #333);
    color: #fff;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.tab:hover {
    background: linear-gradient(to bottom, #777, #555);
}

.tab.active {
    background-color: #fff;
    color: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Tab Content Styling */
.tab-content {
    display: none;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    flex-grow: 1;
    overflow-y: auto;
}

.tab-content.active {
    display: block;
}

.tab-content h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
}

.tab-content p {
    font-size: 1rem;
    color: #666;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.modal-content .close {
    font-size: 1.5rem;
    color: #aaa;
    float: right;
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Hidden Button */
#myButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

/* IFrame Styling */
iframe {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
